<h1>{{title}}</h1>
<a routerLink="/dashboard"> Dashboard </a> | 
<a routerLink="/heroes"> Heroes </a> | 
<a routerLink="/posts"> Posts </a>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages>
<p appHighlight highlightColor="lightgreen">Highlight me!</p>
 <p appHighlight [highlightColor]="'cyan'">Highlight me!</p> 
<p appHighlight="orange">Highlight me!</p>


<p *appUnless="true">INVISIBILE</p>
<p *appUnless="false">VISIBILE</p>

<app-ad-banner [ads]="ads"></app-ad-banner>

<p>{{ birthday | date: 'dd/MMMM/yyyy' | uppercase}}</p>
<p>{{ 'testo' | uppercase }}</p>

<p>{{ {nome: 'Andrea', cognome: 'Colleoni '} | json }}</p>

<p>{{ 2 | exponentialStrength:10 }}</p>
-->